<footer class="site-footer">

  <div class="wrapper">
      <div class="footer-col-wrapper">

      <div>
        <ul class="social-media-list footer-col foot-col-1"> 
          <li>
            {% if site.github_username %}
              {% include icon-github.html username=site.github_username %}
            {% endif %}
          </li>
          <li>
            {% if site.twitter_username %}
              {% include icon-twitter.html username=site.twitter_username %}
            {% endif %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
  
    </div>
  </div>

</footer>
